.collapsible-body{
    padding: 0;
}

.fullwidth {
width:100%;
margin-left:0;
margin-right:0;
padding-left:0;
padding-right:0;
display:block;
text-align:center;
}

.hide{
    display: none;
}
select{
    display: block;
}
.marginTop{
    margin-top: 20px;
}
nav .newGroupColor{
   color: rgba(0, 0, 0, 0.87);
}
nav #first_name.border-bottom{
    border-bottom-color: #ccc
}
.line-height{
    line-height: 26px;
}