body{
    font-family: Roboto,sans-serif !important;
    font-size: 15px !important;
}
app-wheel{
    display: block;
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    position: relative;
}