/* You can add global styles to this file, and also import other style files */
#toast-container{
    position: relative!important;
    max-width: 100%!important;
    top: -20px;
}
.text-center-flex{
    justify-content:center!important;
}